html,
body {
  padding: 0;
  margin: 0;
}

nav {
  margin: auto;
  padding: 1.5em;
  width: 100%;
  text-align: center;
}

nav a {
  color: black;
  padding: 1em;
  text-decoration: none;
}

nav a:hover {
  color: red !important;
  font-size: 1.2em;
}

nav a:visited {
  color: black;
}

.container {
  width: 100%;
  text-align: center;
}

.container h1 {
  margin: auto;
}

form {
  max-width: 500px;
  margin: auto;
}

input {
  margin: 1rem auto;
  width: 100%;
}

select {
  margin: 1rem auto;
  width: 100%;
}

textarea {
  margin: 1rem auto;
  width: 100%;
}

button {
  display: block;
  margin-top: 1rem;
}

fieldset {
  border: none;
}
